body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #c8c8c8;
}

ul li{
  float: left;
}

ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav {
  background-color: #6c7373;
}

#hamburgerMenu {
  visibility: visible;
}

#hamburgerMenu ul {
  display: inline-block;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6c7373;
}


#hamburgerMenu ul li a:hover {
  background-color: white;
  color: #a51417;;
  text-decoration: underline;
}


.top {
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.header {
  padding: 0px;
  width: 100%;
  height: 50px;
  float: left;
  background-color: #a51417;
  margin: 0px;
}

.header .searchButton img {
  /* width: 60%;
  max-width: 328px; */
  padding-top: 140px;
}

.header .imageContainer {
  padding: 0;
  margin: 0;
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  height: 50px;
  position: relative;
}
.header .imageContainer img {
  width: 80%;
  max-width: 328px;
  padding-top: 10px;
}
.header .hamburgerMenu {
  float: left;
  position: relative;
  z-index: 5;
  width: 50px;
  height: 50px;
  display: block;
}

.hamburgerButton {
  margin: 10px;
  position: relative;
  width: 30px;
  height: 30px;

}



.line {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: lightGray;
  border-radius: 2px;
  transition: all cubic-bezier(0.25, 0.1, 0.3, 1.5) 0.3s;
}

#hamburger:hover .line {
  background-color: white;
}

.line1 {
  top: 5%;
}
.line2 {
  top: 43%;
}
.line3 {
  top: 81%;
}

#hamburger {
  visibility: hidden;
  cursor: pointer;
}

#hamburger.close .line1 {
  transform: rotate(45deg);
  top: 48%;
}

#hamburger.close .line2, #hamburger.close .line3 {
  transform: rotate(-45deg);
  top: 48%;
}

#hamburger.close {
  background-color: darkRed;
}

.header .searchButton {
  float: right;
  position: relative;
  z-index: 5;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-top: -50px;
}

.header .searchButton:hover {


}

.title {
  width: 100%;
  display: block;
  background-color: white;
  height: 130px;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
}

.title h1 {
  padding: 0px;
  margin: 0px;
  font-size: 3.25vw;
  line-height: 90px;
  margin-left: 3%;
  margin-right: auto;
  padding-left: 0px;
  padding-top: 10px;
}


.video {
  width: 100%;
  max-width: 1230px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  margin-bottom: 1000px;

}

.center {
  margin: 0 auto;
  width: 1230px;
}

.mainContent {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  align-items: center;
}

.mainContent img {
  width: 100%;
}



@media screen and (max-width: 950px) {
  .header {
    margin: 0px;
  }
  .header img {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
  }

  .title h1 {
    font-size: 1.7em;
    line-height: 1.1;
    padding-top: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  #hamburger {
    visibility: visible;
  }
  #hamburgerMenu {
    visibility: hidden;
    display: none;
  }

  .header .searchButton img {
    /* width: 60%;
    max-width: 328px; */
    padding-top: 10px;
  }



}
