body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #c8c8c8;
}

ul li{
  float: left;
}

ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav {
  background-color: #6c7373;
}

#hamburgerMenu {
  visibility: visible;
}

#hamburgerMenu ul {
  display: inline-block;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6c7373;
}


#hamburgerMenu ul li a:hover {
  background-color: white;
  color: #a51417;
  text-decoration: underline;
}

.top {
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.header {
  padding: 0px;
  width: 100%;
  height: 50px;
  float: left;
  background-color: #a51417;
  margin: 0px;
}

.header .searchButton img {
  padding: 10px;
}

.header .searchButton:hover {
  background-color:#a51417;
}


.header .imageContainer {
  padding: 0;
  margin: 0;
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  height: 50px;
  position: relative;
}
.header .imageContainer img {
  width: 80%;
  max-width: 328px;
  padding-top: 10px;
}
.header .hamburgerMenu {
  float: left;
  position: relative;
  z-index: 5;
  width: 50px;
  height: 50px;
  display: block;
}

.hamburgerButton {
  margin: 10px;
  position: relative;
  width: 30px;
  height: 30px;

}



.line {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: lightGray;
  border-radius: 2px;
  transition: all cubic-bezier(0.25, 0.1, 0.3, 1.5) 0.3s;
}

#hamburger:hover .line {
  background-color: white;
}

.line1 {
  top: 5%;
}
.line2 {
  top: 43%;
}
.line3 {
  top: 81%;
}

#hamburger {
  visibility: hidden;
  cursor: pointer;
}

#hamburger.close .line1 {
  transform: rotate(45deg);
  top: 48%;
}

#hamburger.close .line2, #hamburger.close .line3 {
  transform: rotate(-45deg);
  top: 48%;
}

#hamburger.close {
  background-color: darkRed;
}



.header .searchButton {
  float: right;
  position: relative;
  z-index: 5;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  margin-top: 80px;
  padding: 0;
  /* margin-top: -50px; */

}

#searchField {
  display: none;
  position: absolute;
  float: right;
  margin-top: 10px;
  z-index: 10;
  transform: translate(-120%, 950%);
}

#searchField.open{
  display:inline-block;
}


.title {
  width: 100%;
  display: block;
  background-color: white;
  height: 130px;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
}

.title h1 {
  padding: 0px;
  margin: 0px;
  font-size: 3.25vw;
  line-height: 90px;
  margin-left: 3%;
  margin-right: auto;
  padding-left: 0px;
  padding-top: 10px;
}


.video {
  width: 100%;
  max-width: 1230px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  margin-bottom: 1000px;

}

.center {
  margin: 0 auto;
  width: 1230px;
}

.mainContent {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  align-items: center;
}

.mainContent img {
  width: 100%;
}

.column-body {

  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  background-color: white;
}

.column-item {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.column-item a {
  text-decoration: none;
}

.column-item a img:hover {
  filter: grayscale(30%);
}

#left-column {
  color: #6c7373;
  width: 60vw;
}

#left-column h1 {
  color: #a51417;
}

#right-column {
  color: #6c7373;
  width: 24vw;
}

.page-footer {
  color: red;
  padding: 10px;
}



.imageMessage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -115%);
  color: white;
  background-color: rgb(40,40,40,0.7)

}

.imageMessage p {
  font-size: 3vw;
  padding: 5px;
}
.imageMessage h2 {
  font-size: 5vw;
  padding: 5px;
}


#right-column a:hover{
  text-decoration: underline;
  text-decoration-color: darkRed;
}
.event {
  text-align: left;
}
.event p {
  color: #a51417;
  font-size: 20px;
}

.event strong {
  color: black;
  font-size: 20px;
}

.missionStatement {
  padding: 20px;
}

.missionStatement p {
  font-size: 1.3em;
}

.missionStatement strong {
  color: #a51417;
  font-size: 1.4em;
}

.page-footer {
  background-image: url("assets/images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #a51417;
}

.social-media-bar {
  background-color: #a51417;
  color: white;
  display: inline-block;
  width: 100%;
}
.social-media-bar p {
  padding: 10px;
  font-size: 1.3em;
}
.social-media-icons {
  background-color: white;
}
.social-media-icons img {
  width: 32px;
  padding: 10px;
  display: inline-block;
}
.social-media-icons img:hover {
  width: 40px;
  padding: 6px;
}

.footer-information {
  color: white;
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.footer-information a {
  text-decoration: none;
  color: white;
}
.footer-information a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 950px) {
  .header {
    margin: 0px;
  }
  .header img {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
  }

  .title h1 {
    font-size: 1.7em;
    line-height: 1.1;
    padding-top: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  #hamburger {
    visibility: visible;
  }
  #hamburgerMenu li {
    width: 100%;

  }

  #hamburgerMenu {
    visibility: hidden;
    height: 0px;
  }

  #hamburgerMenu.close {
    height: auto;
    visibility: visible;
  }

/*
  .header .searchButton img {
    margin-top: 10px;
  } */
  .header .searchButton {
    margin-top: -50px;
  }

  .header .searchButton:hover {
    background-color: #6c7373;
  }

  .column-body {
    display: block;
    padding: 10px;
  }

  #left-column {
    width: 90%;
    margin-bottom: 10px;
  }

  #right-column {
    width: 90%;
  }

  #searchField {
    transform: translate(-120%, 250%);
  }

  .footer-information {
    display: inline-block;
  }


}
